// see: https://css-tricks.com/almanac/properties/u/user-select/
.noTextSelect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor: pointer;
}
