// .animContainer {
//   position: relative;
// }

// .anim {
//   width: 30px;
//   height: 30px;
//   background-color: red;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: absolute;
// }

// .anim3 {
//   border-radius: 2px;
//   height: 2px;
//   background-color: #ccc;
// }

.infiniteLoaderBar {
  border-radius: 2px;
  height: 2px;
  background-color: #ccc;
}
